.nav-toggle {

  background-color: transparent;
  background-image: url(../images/icon-menu.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-position: center center;
  z-index: 20;

  @media only screen and (min-width: $bp-desktop) {
    display: none;
  }

}

.nav-toggle.active {
  background-image: url(../images/icon-close-menu.svg);

}

.navigation-mobile {
  display: none;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  width: 65vw;
  background-color: $color-white;
  z-index: 10;

  @media only screen and (min-width: $bp-desktop) {
    display: block;
    height: 2rem;
    width: auto;
    position: static;
    padding-top: 0.4rem;
    margin-left: 3rem;

  }
}

.navigation-mobile.show {
  display: block;
}

.navigation-content {
  padding-bottom: 5rem;
  margin-top: $margin-largest;

  @media only screen and (min-width: $bp-desktop) {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: inherit;
    gap: 9rem;
    padding-bottom: 0;
  }
}


.list {

  color: $color-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
  list-style: none;
  padding-left: 1.2rem;

  @media only screen and (min-width: $bp-desktop) {
    paddin: 0;
    flex-direction: row;
    justify-content: inherit;
    position: relative;
  }


  &__item {

    letter-spacing: 0.07em;


  }

  &__link {

    color: #717171;


  }

  &__link-features,
  &__link-company {
    &:after {
      content: url(../images/icon-arrow-down.svg);
      margin-left: 0.6rem;

    }
  }

  &__link-features.show,
  &__link-company.show {
    &:after {
      content: url(../images/icon-arrow-up.svg);

    }
  }


}

.list.sub-list {
  gap: 1.3rem;

  @media only screen and (min-width: $bp-desktop) {
    flex-direction: column;
    -webkit-box-shadow: 2px 9px 15px 5px #B6B6B6;
    box-shadow: 2px 9px 15px 5px #B6B6B6;
    border-radius: 25px;
    padding: 1rem;

  }

}

.navigation-buttons {

  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: $margin-small;
  margin-left: 1rem;
  gap: 1rem;
  align-items: center;

  @media only screen and (min-width: $bp-desktop) {

    flex-direction: row;
    margin-top: 0;
    align-items: inherit;
    margin-left: 8rem;

  }
}


.btn-login {
  border: 0;
  background-color: transparent;
  color: #717171;
  cursor: pointer;

  &:hover {
    color: #0b0d17;

  }

}

.btn-register {
  padding: 0.7rem;
  border: 2px solid #717171;
  background-color: transparent;
  border-radius: 10px;
  color: #717171;
  width: 100%;
  cursor: pointer;

  &:hover {
    color: #0b0d17;
    background-color: #FFF;
  }

  @media only screen and (min-width: $bp-desktop) {
    width: 140px;
  }
}

//dropdown

.drop-down {

  height: 100%;

  &__features {

    @media only screen and (min-width: $bp-desktop) {

      position: absolute;
      top: 3rem;
      left: -3rem;

    }

  }

  &__company {
    @media only screen and (min-width: $bp-desktop) {
      position: absolute;
      top: 3rem;
      left: 9rem;
      width: 30%;

    }
  }



  &__features,
  &__company {
    width: 70%;
    display: none;

    @media only screen and (min-width: $bp-desktop) {}
    width: 45%;

  }

  &__features.show-f,
  &__company.show-f {
    display: block;



  }




}

.list__link.todo {

  &:before {
    content: url(../images/icon-todo.svg);
    display: inline-block;
    height: 100%;
    margin-right: 0.6rem;
  }

}



.list__link.calender {

  &:before {
    content: url(../images/icon-calendar.svg);
    display: inline-block;
    height: 100%;
    margin-right: 0.6rem;
  }

}

.list__link.reminders {

  &:before {
    content: url(../images/icon-reminders.svg);
    display: inline-block;
    height: 100%;
    margin-right: 0.6rem;
  }

}

.list__link.planning {

  &:before {
    content: url(../images/icon-planning.svg);
    display: inline-block;
    height: 100%;
    margin-right: 0.6rem;
  }

}